<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>tic에서 캘린더 일정을 확인하고 관리하기 위해 접근 권한이 필요합니다.</string>
	<key>NSRemindersUsageDescription</key>
	<string>tic에서 미리 알림을 확인하고 관리하기 위해 접근 권한이 필요합니다.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
